*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
     height: 32px;
     font-size: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.color-gra{
 
  background: -webkit-linear-gradient(#FB09B4 ,#9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-gradient{
 
  background: -webkit-linear-gradient( #FB09B4 50% ,#9100F8 20%, #F7E93F 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-white{
  color: white;
}
.btn{
    background: #F7E93F;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);  
    border: none;
    gap: 4px;
    padding: 12px 40px 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn1{
    background: #F7E93F;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);  
    border: none;
    margin: 32px 0px 120px;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    border-color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    margin: 32px 0px 120px;
    cursor: pointer;
}
header{
    background: #1A0B2E
    
}

nav{
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 180px;
    margin-left: 180px;
    

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.904);
    opacity: 90%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner-sec{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;  
    align-items: center;       
    text-align: center;
}


.hero{
    border-top:1px solid #412567;
    
}
.hero img{
    width: 350px;
    height: 350px;
    margin-top: 101px;
    margin-bottom: 40px;
    background-position: center;
    background-size: cover;
}
.micro{
    position: absolute;
    top: 38%;
    left: 46%;
    width: 120px;
}


.btnwrap{
    display: flex;
    justify-content: center;
    gap: 8px;

}


.text h1{

    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.text p{
font-size: 16px;
font-weight: 400;
margin: 0 auto;
text-align: center;
color: rgba(255, 255, 255, 0.808);
}
#about-sec{
    height: 646px;
    width: 1600px;
    gap: 80px;
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
}
.about{
    width: 1200px;
    height: 222px;
}
.about-h1{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px ;
}
.about-p{
 width: 800px;   
font-size: 16px;
font-weight: 400;
line-height: 20px;
margin: 0 auto;
text-align: center;
color: rgba(255, 255, 255, 0.808);

}
.rating{
    border-top:1px solid #ffffff10;
    gap: 24px;
    display: flex;
    justify-content: center;
     width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 120px;
}

.num{

    margin: 0 auto;
    text-align: center;
}
.num h1{
color: #00FF88;
margin-top: 70px;
margin-bottom: 16px;
font-weight: 900;
}
.num p{
width: 240px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 0.808);
}