*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
   
     height: 32px;
     font-size: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.color-gra{
 
  background: -webkit-linear-gradient(#FB09B4 ,#9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-gradient{
 
  background: -webkit-linear-gradient( #FB09B4 50% ,#9100F8 20%, #F7E93F 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-white{
  color: white;
}
.btn{
    background: #F7E93F;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);  
    border: none;
    gap: 4px;
    padding: 12px 40px 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn1{
    background: #F7E93F;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);  
    border: none;
    margin: 32px 0px 120px;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    border-color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    margin: 32px 0px 120px;
    cursor: pointer;
}
header{
    background: #1A0B2E
    
}

nav{
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 180px;
    margin-left: 180px;
    

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-right: 100px;
    
    
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.904);
    opacity: 90%;
    text-decoration: none;

    
}
nav .hamburger{
    display: none;
}
#banner-sec{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;  
    align-items: center;       
    text-align: center;
}


.hero{
    border-top:1px solid #412567;
    width: 100%;
    
}
.hero img{
    width: 350px;
    height: 350px;
    margin-top: 101px;
    margin-bottom: 40px;
    background-position: center;
    background-size: cover;
}
.micro{
    position: absolute;
    top: 38%;
    left: 46%;
    
}


.btnwrap{
    display: flex;
    justify-content: center;
    gap: 8px;

}


.text h1{

    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.text p{
font-size: 16px;
font-weight: 400;
margin: 0 auto;
text-align: center;
color: rgba(255, 255, 255, 0.808);
}
#about-sec{

    gap: 80px;
    padding: 50px 200px 120px 180px;
    background-color: #1A0B2E;
}
.about{
    width: 1200px;
    height: 222px;
}
.about-h1{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px ;
}
.about-p{
width: 1200px;   
font-size: 16px;
font-weight: 400;
line-height: 20px;
margin: 0 auto;
text-align: center;
color: rgba(255, 255, 255, 0.808);

}
.rating{
    border-top:1px solid #ffffff10;
    gap: 24px;
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    
}

.num{

    margin: 0 auto;
    text-align: center;
}
.num h1{
color: #00FF88;
margin-top: 70px;
margin-bottom: 16px;
font-weight: 900;
}
.num p{
width: 240px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 0.808);
}
#choose{
    padding: 120px 280px 120px 255px;
    background-color: #230E3D;
}
.layout1{
color: #ffffff;
font-size: 30px;
font-weight: 700;
display: flex;
justify-content: center;

}
.layout>*{
    border: 3px solid rgba(53, 17, 101, 0.4);
    background-color:  rgba(53, 17, 101, 0.4);
    padding: 30px;
    width: 200px;
    
    
    
}
.layout2{
    grid-area: layout2;
    border-radius: 30px;
    width: 280px;
    height: 380px; 
}
.layout2 h4{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}
.layout3{
    grid-area: layout3;
    border-radius: 30px;
    width: 720px;
    height: 180px;
    
}
.layout3 h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}
.layout4{
    grid-area: layout4;
    border-radius: 30px;
    width: 720px;
    height: 180px;
    
}
.layout5{
    grid-area: layout5;
    border-radius: 30px;
    width: 670px;
    height: 250px;
    
}
.layout6{
    grid-area: layout6;
    border-radius: 30px;
    width: 330px;
    height: 250px;
    
}
.layout{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "layout1 layout1 layout1"
    "layout2 layout3 layout3"
    "layout2 layout4 layout4"
    "layout5 layout5 layout6"
    
}
#featured-meet{
    padding: 120px 0px 120px 0px;
    background-color: #1A0B2E;
    
}
.caption h3{
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.card{
   
    gap: 30px;
    display: flex;
    width: 1100px;
    height: 440px;
    margin: 0 auto;
    justify-content: space-between;
    
    
    
}
.card1{
position: relative;
    width: 370px;
    height: 440px;
    background-color: #230E3D;
    border-radius: 30px;
    
    
}
.card1 h3{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 12px;
}
.card1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff60;
    margin-bottom: 12px;
    
}
.clock{
 display: flex;
 gap: 6px;
}
.card1 h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.card2{
position: relative;
    width: 370px;
    height: 440px;
   
    background-color: #230E3D;
}
.card2 h3{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 12px;
}
.card2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff60;
    margin-bottom: 12px;
}
.clock{
 display: flex;
 gap: 6px;
}
.card2 h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.card3{
position: relative;
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 440px;
    background-color: #230E3D;
}
.card3 h3{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 12px;
}
.card3 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff60;
    margin-bottom: 12px;
}
.clock{
 display: flex;
 gap: 6px;
}
.card3 h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.card-img{
    
    width: 345px;
    height: 200px;
}
.round-img{

position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    
}
.host-sec{
 margin: 120px 200px 40px 200px;  
 
}
.headline h3{
 font-size: 38px;
 font-weight: 700;
 color: #ffffff;
 display: flex;
 justify-content: center;
 margin-bottom: 40px;
 
}
.host{
    
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4)

}
.alex h3{

font-size: 32px;
font-weight: 700;
color: #ffffff;
margin-bottom: 16px;

}
.host p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #ffffff60;
margin-bottom: 16px;
}
.picture{
margin: 40px 24px 40px 40px;
}
.icons img{
width: 20px;
height: 20px;
box-sizing: border-box;
border: 1px solid rgba(83, 60, 114, 1);
border-radius: 19px;

}
footer{
    width: 100%;
    height: 414px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}
.footer-inner{
    max-width: 1200px;
    margin: 0 auto;     
    padding-top: 120px;
    text-align: center;
}
.tech h1{
    text-align: center;
    margin-bottom: 32px;
    font-size: 60px ;
    }
.icon2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
    color: white;
}

.social{
    display: flex;
    align-items: center;
    gap: 8px;
}
.copyright{
    margin-top: 32px;
    margin-bottom: 120px;
    color: rgba(255, 255, 255, 0.603);
}
.hide{
    display: none !important;
}

@media screen and (max-width: 576px){
  nav {
    margin: 0 16px;
  }

  nav .menu {
    display: none;
  }

  nav .btn {
    display: none;
  }

  nav .hamburger {
    display: block;
    color: white;
    font-size: 24px;
  }
  #banner-sec {
    padding: 0 16px;
  }

  .hero img {
    width: 220px;
    height: 220px;
    margin-top: 60px;
  }

  .micro {
    top: 24%;
    left: 40%;
    transform: translateX(-50% -20%);
  }

  .text h1 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .text p {
    font-size: 16px;
    font-weight: 400;
    padding: 0 12px;
    margin-bottom: 24px;
  }

  .btnwrap {
    flex-direction: row;
    gap: 8px;
  }

  .btn1,
  .btn2 {
   
    margin: 0;
  }
   #about-sec {
    padding: 40px 16px;
  }

  .about,
  .about-p {
    width: 100%;
  }

  .about-p br {
    display: none;
  }

  .about-h1 h1 {
    font-size: 32px;
  }
    .rating {
    flex-wrap: wrap;
  }

  .num {
    width: 50%;
    margin-bottom: 24px;
  }
    #choose {
    padding: 40px 16px;
  }

  .layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .layout > * {
    width: 100%;
    height: auto;
  }
    .card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    height: auto;
  }

  .card-img {
    width: 100%;
    height: auto;
  }
    .host {
    flex-direction: column;
    text-align: center;
  }
.host-sec{
 margin: 20px ;  
 
}
  .picture img {
    width: 150px;
  }

  .icons {
    justify-content: center;
  }
    .icon2 {
    flex-direction: column;
    gap: 16px;
  }

  .tech h1 {
    font-size: 36px;
  }
}




