*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
     height: 32px;
     font-size: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.color-gra{
 
  background: -webkit-linear-gradient(#FB09B4 ,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-gradient{
 
  background: -webkit-linear-gradient( #FB09B4 50% ,#9100F8 20%, #F7E93F 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-white{
  color: white;
}
.btn{
    background: #F7E93F;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);  
    border: none;
    gap: 4px;
    padding: 12px 40px 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn1{
    background: #F7E93F;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);  
    border: none;
    gap: 4px;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    border-color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    margin: 32px 17px 120px;
    cursor: pointer;
}
header{
    background: #1A0B2E
    
}

nav{
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 180px;
    margin-left: 180px;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.904);
    opacity: 90%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner-sec{

  
}
.hero{
        margin: 0 auto;
    align-items:center ;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center;
}
.text h1{

    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.text p{
font-size: 18px;
margin: 0 auto;
line-height: 24px;
width: 673px;
text-align: center;
color: rgba(255, 255, 255, 1);
}


  
